@tailwind base;

@tailwind components;

@tailwind utilities;

.link {
  @apply text-blue-600;
}

.ing-table-row {
  display: grid;
  /* grams, g (BP), ing, amount, unit, adj */
  grid-template-columns: 3.5rem 70px 3fr 3.5rem 3fr 3fr;
}

.rec-table-row {
  display: grid;
  /* section, minutes, ing-table-row, instructions */
  grid-template-columns: 1fr 1fr 8fr 4fr;
}

.add-item {
  @apply text-gray-800;
  @apply font-light;
  @apply uppercase;
  @apply text-xs;
}
