@tailwind base;

@tailwind components;

@tailwind utilities;

.link {
  @apply text-blue-600;
}

.ing-table-row {
  display: grid;
  /* grams, g (BP), ing, amount, unit, adj, actions */
  grid-template-columns: 2fr 1.5fr 3fr 3.5rem 2fr 2fr 2fr;
}

.rec-table-row {
  display: grid;
  /* section, minutes, ing-table-row, instructions */
  grid-template-columns: 1.5fr 9fr 4fr;
}
